body {
  background-color: green;
}
p {
  color: black;
  text-align: center;
}
h1, h2 {
  color: black;
  text-align: center;
}
a {
  color: black;
}
img {
  width: 50%;
  height: 50%;
}
.Selections {
  text-align: center;
}

.gameVar {
  text-align: left;
}
/* Making a button look like a normal link was created following idea by
  Paul D. Waite from stack overflow. https://stackoverflow.com/questions/1367409/how-to-make-button-look-like-a-link
*/
/*
button {
     background:none!important;
     color:black;
     border:none;
     padding:0!important;
     font: inherit;
     border-bottom:1px solid black;
     cursor: pointer;
}
*/
