body {
  background-color: black;
}
p {
  color: white;
  text-align: center;
}
h1, h2 {
  color: white;
  text-align: center;
}
a {
  color: white;
}

.Selections {
  text-align: center;
}
/* Making a button look like a normal link was created following idea by
  Paul D. Waite from stack overflow. https://stackoverflow.com/questions/1367409/how-to-make-button-look-like-a-link
*/
button {
     background:none!important;
     color:white;
     border:none;
     padding:0!important;
     font: inherit;
     border-bottom:1px solid white;
     cursor: pointer;
}
